.book-preview {
    grid-template-columns: 1fr;
    grid-template-areas:
        'img'
        'title'
        'authors'
        'published'
        'price'
        'sale'
    ;
    gap: 1.25rem;
}

.book-preview h2 {
    grid-area: title;
    justify-self: center;
    text-wrap: stable;
    align-self: center;
    font-size: 1.2em;
}

.book-preview img {
    grid-area: img;
    justify-self: center;
}

.book-details h3 {
    grid-area: authors;
    justify-self: start;
    color: var(--authors-color);
}

.book-preview p {
    justify-self: start;
    grid-area: published;
    line-height: 2em;
    text-wrap: pretty;
    font-size: 1em;
}

.book-preview .price {
    grid-area: price;
    justify-self: center;
    color: var(--price-color);
}

.book-preview .sale {
    grid-area: sale;
    justify-self: center;
    color: var(--sale-color);
    font-weight: bold;
    font: 1.625rem;
    margin-block-end: 1.25rem;
}