.book-edit {
    flex-direction: column;
    background-image: var(--page-bg-color);
    padding: 1em;
    margin-block-start: 1.25rem;
}

.form-edit {
    flex-direction: column;
    gap: .625rem;
}

.book-edit h1 {
    margin-block: 1.25rem;
}

.book-edit button {
    align-self: center;
    width: min-content;
    margin-block-start: 2em;
}

input {
    max-width: 31.25rem;
}