.book-details {
    grid-template-columns: 1fr;
    grid-template-areas:
        'img'
        'title'
        'authors'
        'published'
        'price'
        'sale'
    ;
    gap: 1.25rem;
}

.book-details h2 {
    grid-area: title;
    justify-self: center;
    text-wrap: nowrap;
    align-self: center;
    font-size: 1.2em;
}

.book-details h3 {
    grid-area: authors;
    justify-self: center;
}

.book-details img {
    grid-area: img;
    justify-self: center;
    margin-block-start: 1.25rem;
}

.book-details p {
    grid-area: published;
    /* line-height: 2em; */
    /* text-wrap: pretty; */
    /* font-size: 1em; */
}

.book-details .price {
    grid-area: price;
    justify-self: center;
}


.book-details .sale {
    grid-area: sale;
    justify-self: center;
    color: var(--sale-color);
    font-weight: bold;
    font: 1.625rem;
}

.book-details .close {
    justify-self: center;
    width: min-content;
}

.review-details {
    position: relative;
}