.book {
    position: relative;
    flex-direction: column;
    background-image: var(--page-bg-color);
    padding: 1em;
    margin-inline: 1.25rem;
    margin-block-end: 20px;
}

.book-list {
    flex-direction: column;
    align-items: center;
}

.book .remove-book {
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    border: none;
    color: red;
    font-weight: bolder;
    font-size: 15px;
}

.book .book-details-btns {
    justify-content: space-around;
    align-items: center;
    color: red;
}