@media (min-width:600px) {
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.25rem;
        align-items: stretch
    }

    .book {
        display: flex;
        align-items: stretch;
        width: fit-content;
        height: fit-content;
    }



}