:root {
  --bg-color: white;
  --header-color: #efe7d5;
  --logo-color: #372213;
  --links-color: #847F7A;
  --links-active-color: #4E3431;
  --price-color: rgb(44, 197, 44);
  --sale-color: red;
  --list-item-color: #F4F1EA;
  --input-bg-color: #efe7d5;
  --authors-color: #4f4f4d;
  --button-bg-color: #ecce89af;
  --button-color: #616160;
}